.card {
    --chocolate: #e2aa7c;
    position: relative;
    width: 350px;
    height: 350px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.4s cubic-bezier(0.17, 0.67, 0.5, 1.03), border 0.4s cubic-bezier(0.17, 0.67, 0.5, 1.03); /* Added border transition */
}

.thumb {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}

.infos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--chocolate);
    color: rgb(92, 36, 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03), transform 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03);
}

.card:hover {
    border: 2px solid #D2691E; /* Added border on hover */
}

.card:hover .infos {
    opacity: 1;
    transform: translateY(0);
}

.icon {
    font-size: 2rem;
    margin-bottom: 10px;
}

.title {
    font-family: 'Grotesque Black', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    font-weight: bolder;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.txt {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    margin: 10px 20px;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: var(--chocolate);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.8);
}